extends ../layout

block content
    div
       form(method="post")
        input(type="text", name="email")
        input(type="password",  name="password")
        input(type="password", name="passwordConfirm")
        input(type="submit" value="Signup")
                           
            
                    
                
