extends ../layout

block content
    form(method="post" action="")
        div(layout-gt-sm="row" layout-padding)
      
            md-input-container.md-block(md-no-float='md-no-float')
                label Product Name
                input#name(type='text', name='name')
            md-input-container.md-block(md-no-float='')
                label Product Price
                input#price(type='number', name='price')
            md-input-container.md-block(md-no-float='')
                input.md-button.md-raised.md-primary(type='submit',value="save")